* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  /* This is to make sure that the container height is always the same size as the browser. */
  min-height: 100px;
  height: 100vh;
  margin: auto;
  justify-content: center; 
  text-align: center;
}

.header-card h1 {
  margin: 200px 0 75px;
  font-size: 48px;
}

.header-card p {
  margin: 0 100px 50px;
  font-size: 22px;
  line-height: 25px;
}

.btn {
  margin: 7px;
  padding: 7px;
  background-color: rgb(109, 4, 109);
  color: white;
  font-size: 22px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
  border: 1px solid rgb(0, 204, 255);
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

#question {
  margin: 200px 0 75px;
  font-size: 32px;
}

#answer-btn .btn {
  display: block;
  margin-left: 10%;
}

#user-initials {
  width: 250px;
  height: 60px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 36px;
  text-align: center;
  overflow: hidden;
  resize: none;
}

#user-score-container {
  padding: 0 10%;
  margin-top: 25%;
  line-height: 25px;
}

#highscore-list {
  padding: 0 10%;
  margin-top: 50%;
}

#highscore-rank {
  background-color: rgb(221, 157, 221);
  font-size: 32px;
  align-items: flex-start;
}
/* styling to show and hide different html containers */
.display-none {
  display: none;
}
